<%= form_for(setup_person(@person), :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :first_name %></div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :last_name %></div>
  </div>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :phone %></div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :email %></div>
  </div>
  <div class="control-group">
    <%= f.label :street_number, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :street_number %></div>
  </div>
  <div class="control-group">
      <%= f.label :street_name, :class => 'control-label' %>
      <div class="controls"><%= f.text_field :street_name %></div>
    </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :city %></div>
  </div>
  <div class="control-group">
    <%= f.label :zipcode, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :zipcode %></div>
  </div>
  <div class="control-group">
    <div class='control-label'>Interests</div>
    <%= f.fields_for :person_interests do |ff| %>
      <div class="controls">
        <%= ff.check_box :_destroy,
              {:checked => ff.object.persisted?},
              '0', '1'
        %>
        <%= ff.label :_destroy, ff.object.interest.name, :style => "display:inline-block;" %>
        <%= ff.hidden_field :interest_id %>
      </div>
    <% end %>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :user_id, User.all, :id, :email, {:include_blank => 'Link with a user account'}, {:class => 'chosen-select'} %>
      <%= link_to 'Manage User', edit_user_path(@person.user), :class => 'btn' if @person.user %>
    </div>
  </div>
  <div class="controls">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
