<h2><%= @person.full_name %></h2>

<p id="notice"><%= notice %></p>

<% if user_signed_in? && current_user.organizer? || current_user.person.id == @person.id %>
<p>
  <b>Phone:</b>
  <%= @person.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Address:</b>
  <%= @person.address %>
</p>
<% end %>

<% if current_user.person.id == @person.id || current_user.admin? %>
  <%= link_to 'Edit', edit_person_path(@person), :class => 'btn btn-primary' %>
<% end %>

<h3>Sites</h3>
<% if @person.all_sites.empty? && @person.id == current_user.person.id %>
  You currently to do not have any sites.  Use the <%= link_to 'site chooser', site_chooser_person_path(@person) %> to select one.
<% elsif @person.all_sites.empty? %>
  No sites.
<% else %>
  <table class="table table-striped">
    <tr>
      <th>Street</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Role</th>
      <th>Harvest Permission</th>
      <th></th>
      <% if user_signed_in? && current_user.admin? %>
        <th></th>
        <th></th>
      <% end %>
    </tr>

  <% @person.all_sites.each do |site| %>
    <tr>
      <td><%= site.site_name %></td>
      <td><%= site.city %></td>
      <td><%= site.zipcode %></td>
      <td><%= @person.site_role(site) %></td>
      <td><%= site.status %></td>
      <td><%= link_to 'Go', site, :class => 'btn btn-mini btn-primary' %></td>
      <% if user_signed_in? && current_user.admin? %>
        <td><%= link_to 'Edit', edit_site_path(site), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Delete', site, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
      <% end %>
    </tr>
  <% end %>
  </table>

  <%= link_to 'Choose another site', site_chooser_person_path(@person), :class => 'btn btn-primary' %>
<% end %>

<h3>Harvests</h3>

To schedule a new harvest, visit the page for the site to be harvested.

<% if @person.upcoming_harvestings.count > 0 %>
  <h4>Upcoming</h4>

  <table class="table table-striped">
    <tr>
        <th>Harvest</th>
        <th>Status</th>
        <th></th>
    </tr>
    <% @person.upcoming_harvestings.each do |harvesting| %>
      <tr>
        <td><%= harvesting.harvest.harvest_name %></td>
        <td><%= harvesting.status %></td>
        <td><%= link_to 'Go', harvest_harvesting_path(harvesting.harvest, harvesting), :class => 'btn btn-mini btn-primary' %></td>
      </tr>
    <% end %>
  </table>

<% end %>

<% if @person.past_harvestings.count > 0 %>
  <h4>Recent</h4>

  <table class="table table-striped">
    <tr>
        <th>Harvest</th>
        <th>Hours</th>
        <th></th>
    </tr>
  <% @person.past_harvestings.take(5).each do |harvesting| %>
    <tr>
      <td><%= harvesting.harvest.harvest_name %></td>
      <td><%= harvesting.hours %></td>
      <td><%= link_to 'Go', harvest_harvesting_path(harvesting.harvest, harvesting), :class => 'btn btn-mini btn-primary' %></td>
    </tr>
  <% end %>
  </table>

  <% if @person.past_harvestings.count > 5 %>
    <%= link_to 'View All Harvests', person_harvests_path(@person), :class => 'btn' %>
  <% end %>

<% end %>







