<h1><%= @site.site_name %></h1>

<p id="notice"><%= notice %></p>

<p><%= link_to 'Edit Site', edit_site_path(:site_id => @site.id), :class => 'btn btn-primary' %>
    <% if !@site.lurc_contact %>
      <%= link_to 'Coordinate this Site', coordinate_site_path(@site, :person_id => @current_user.person.id), :class => 'btn btn-primary' %>
    <% end %>
</p>

<% if user_signed_in? && @site.sees_street(current_user) %>
<p>
  <b>Street:</b>
  <%= @site.street_number %> <%= @site.street_name %>
</p>
<% end %>

<p>
  <b>City:</b>
  <%= @site.city %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @site.zipcode %>
</p>

<p>
  <b>Owner:</b>
  <%= @site.owner_id? ? (link_to @site.owner_name, @site.owner) : nil %>
</p>

<p>
  <b>Secondary owner:</b>
  <%= @site.secondary_owner_id? ? (link_to @site.secondary_owner_name, @site.secondary_owner) : nil %>
</p>

<p>
  <b>Site Coordinator:</b>
  <%= @site.lurc_contact_id? ? (link_to @site.lurc_contact_name, @site.lurc_contact) : nil %>
</p>

<p>
  <b>Rating:</b>
  <%= Site.RATINGS[@site.rating || 0][:value] %> -- <%= Site.RATINGS[@site.rating || 0][:description] %>
</p>

<p>
  <b>Note:</b>
  <%= @site.note %>
</p>

<p>
  <b>Owner Contacted:</b>
  <%= @site.owner_contacted %>
</p>

<p>
  <b>Harvest Permission:</b>
  <%= @site.status %>
</p>

<h2>Fruit Trees</h2>

<p><%= link_to 'New Fruit tree', new_fruit_tree_path(:site_id => @site.id), :class => 'btn btn-primary' %></p>

<table class="table table-striped">
  <tr>
    <th>Fruit</th>
    <th>Season start</th>
    <th>Season end</th>
    <th></th>
    <% if current_user.person.id == @site.lurc_contact_id %>
      <th></th>
      <th></th>
      <th></th>
    <% end %>
    <% if current_user.admin? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @site.fruit_trees.each do |fruit_tree| %>
  <tr>
    <td><%= fruit_tree.fruit.name %></td>
    <td><%= fruit_tree.start_month %> <%= fruit_tree.start_day %></td>
    <td><%= fruit_tree.end_month %> <%= fruit_tree.end_day %></td>
    <td><%= link_to 'Learn More', fruit_tree, :class => 'btn btn-mini' %></td>
    <% if current_user.person.id == @site.lurc_contact_id %>
      <td><%= link_to 'Schedule Harvest', new_harvest_path(:fruit_tree_id => fruit_tree.id), :class => 'btn btn-mini btn-primary' %></td>
      <td><%= link_to 'Schedule Pruning', new_pruning_path(:fruit_tree_id => fruit_tree.id), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Report Status Check', new_status_check_path(:fruit_tree_id => fruit_tree.id), :class => 'btn btn-mini' %></td>
    <% end %>
    <% if current_user.admin? %>
      <td><%= link_to 'Edit', edit_fruit_tree_path(fruit_tree), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Delete', fruit_tree, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    <% end %>
  </tr>
<% end %>
</table>

<h2>Status Checks</h2>
<% @site.fruit_trees.each do |fruit_tree| %>
<p><%= link_to "New Status Check #{fruit_tree.tree_name}", new_status_check_path(:fruit_tree_id => fruit_tree.id), :class => 'btn btn-primary' %></p>
<% end %>
<table class="table table-striped">
  <tr>
    <th>Fruit Tree</th>
    <th>Date</th>
    <th>Status</th>
    <th>Notes</th>
    <th>Image</th>
  </tr>

<% @site.fruit_trees.each do |fruit_tree| %>
  <% fruit_tree.status_checks.each do |status_check| %>
    <tr>
      <td><%= fruit_tree.tree_name %></td>
      <td><%= status_check.date.to_s :human %></td>
      <td><%= status_check.status %></td>
      <td><%= status_check.notes %></td>
      <td><%= image_tag status_check.image if status_check.image.file %></td>
    </tr>
  <% end %>
<% end %>
</table>


<h2>Harvests</h2>

<table class="table table-striped">
  <tr>
    <th>Fruit tree</th>
    <th>Date</th>
    <th>Leader</th>
    <th>Description</th>
    <th>Amount harvested</th>
    <th></th>
    <% if user_signed_in? && current_user.organizer? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @site.harvests.each do |harvest| %>
  <tr>
    <td><%= harvest.fruit_tree.tree_name %></td>
    <td><%= harvest.date.to_s :human %></td>
    <td><%= harvest.leader_name %></td>
    <td><%= harvest.description %></td>
    <td><%= harvest.amount_harvested %></td>
    <td><%= link_to 'Learn More', harvest, :class => 'btn btn-mini' %></td>
    <% if user_signed_in? && current_user.organizer? %>
      <td><%= link_to 'Edit', edit_harvest_path(harvest), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Delete', harvest, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    <% end %>
  </tr>
<% end %>
</table>

<h2>Prunings</h2>
<table class="table table-striped">
  <tr>
    <th>Fruit tree</th>
    <th>Date</th>
    <th>Leader</th>
    <th></th>
    <% if user_signed_in? && current_user.organizer? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @site.prunings.each do |pruning| %>
  <tr>
    <td><%= pruning.fruit_tree.tree_name if pruning.fruit_tree %></td>
    <td><%= pruning.date.to_s :human if pruning.date %></td>
    <td><%= pruning.leader_name if pruning.leader %></td>
    <td><%= link_to 'Learn More', pruning, :class => 'btn btn-mini' %></td>
    <% if user_signed_in? && current_user.organizer? %>
      <td><%= link_to 'Edit', edit_pruning_path(pruning), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Delete', pruning, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    <% end %>
  </tr>
<% end %>
</table>
